@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import "../../scss/variables";
.ant-layout-content {
  background: #F0F2F5;
}
.main-content {
  margin-top: 64px;
  padding-top: 10px;
  margin-bottom: 30px;
  background: #F0F2F5;
  & h1 {
    color: $color-black;
    font-family: $font-family-title;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
  }
}

@-webkit-keyframes hover {
  from {
    background: transparent;
    color: #AFB1FF;
  }
  to {
    background: #AFB1FF;
    color: white;
    
  }
}

/* Standard syntax */
@keyframes hover {
  from {
    background: transparent;
    color: #40A9FF;
  }
  to {
    background: #40A9FF;
    color: white;
    
  }
}

/* Cart section */
#news-card {
  & .ant-card-head, & .ant-card-body, & .ant-card-actions  {
    text-align: center;
;
  }

  & .sourceButton{
    border: 1px solid #40A9FF;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
  }

  & .sourceButton:hover {
    -webkit-animation-name: hover;
    -webkit-animation-duration: 0.5s;
    animation-name: hover;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
  

  & .ant-card-head a {
    color: $color-black;
    font-size: 20px;
    font-family: $font-family-title;
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
    }
  }

  & .ant-card {
    margin: 25px;
    border-color: #e3e3e3;
  }

  & .ant-card-actions, & .ant-card {
    border-radius: 10px;
  }

  & .ant-card-body {
    padding-top: 0;
  }

  & .ant-card-actions li span {
    color: #212121;
    font-size: 16px;
  }
}

.empty-result {
  margin: 25px 0;
  display: flex;
  justify-content: center;

  & div.ant-empty {
    background-color: #f9f9f99e;
    border-radius: 5px;
    width: 50%;
    padding: 25px;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
    rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0 1px 0 inset;
  }
}
