@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import "../../scss/variables";

.main-content {
  margin-top: 64px;
  padding-top: 10px;
  margin-bottom: 30px;

  & h1 {
    color: $color-black;
    font-family: $font-family-title;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
  }
}

/* Cart section */
#news-card {
  & .ant-card-head, & .ant-card-body, & .ant-card-actions  {
    background-color: #c4c4c4;
    text-align: center;
  }

  & .ant-card-head a {
    color: $color-black;
    font-size: 20px;
    font-family: $font-family-title;
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
    }
  }

  & .ant-card {
    margin: 25px;
  }

  & .ant-card-body {
    padding-top: 0;
  }

  & .ant-card-actions li span {
    color: #212121;
    font-size: 16px;
  }
}

.empty-result {
  margin: 25px 0;
  display: flex;
  justify-content: center;

  & div.ant-empty {
    background-color: #f9f9f99e;
    border-radius: 5px;
    width: 50%;
    padding: 25px;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
    rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0 1px 0 inset;
  }
}

